.mark{
    padding: 5px;
    color: white;
    border-radius: 50%;
    height: 40px;
    width:40px;
    font-size: 25px;
    line-height: 30px;
    background-color: rgb(235, 169, 28);
    text-align: center;
}
.text-color{
    color:#0879a0;
}
/* .max-height{
    max-height: 250px;
    overflow: scroll;
} */